nav {
    background-color: var(--background2-color);
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav-center img {
    height: 3rem;
    width: 3rem;
}