<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/portfolio.css" />
		<link rel="stylesheet" href="/css/pages.css" />
		<link rel="stylesheet" href="/css/base.css" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	</head>

	<body>
		<nav>
			<div></div>
			<a class="nav-center" href="/">
				<img src="/logo.webp" alt="" srcset="" />
			</a>
			<div></div>
		</nav>
		<main>
			<div class="portfolio-metadata">
				<div class="portfolio-title">{{title}}</div>
				<div class="portfolio-subtitle">{{subtitle}}</div>
			</div>
			{{clusters}}
		</main>
		<div class="maylike">{{maylike}}</div>
		<div class="footer">{{footer}}</div>
		<!--JS-INJECTION-ZONE-->
	</body>
</html>
