body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "wysiwyg-editor"
        "footer";
    overflow: hidden;
}

.nav {
    background-color: var(--background2-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* 
Image selection panel
*/

.image-selector {
    grid-area: image-selector;
    background-color: var(--background3-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5em;
    gap: 0px 0px;
    grid-template-areas:
        "images"
        "upload-button";
}

.images {
    grid-area: images;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.upload-button {
    grid-area: upload-button;
}

.upload-button input {
    display: none;
}

.upload-button label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--background2-color);
    color: var(--text-color);
    text-align: center;
    line-height: 3.5em;
    cursor: pointer;
    font-size: 1.5rem;
}

/* 
Wysiwyg editor
*/

.wysiwyg-editor {
    grid-area: wysiwyg-editor;
    overflow-x: scroll;
    background-color: var(--background-color);
}

.image-cluster-container {
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "image-cluster-actions image-cluster .";
}

.image-cluster-actions {
    grid-area: image-cluster-actions;
    background-color: var(--background3-color);
    margin-bottom: 1rem;
    transform: translateX(1rem);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.image-cluster-actions a {
    display: grid;
    place-content: center;
}

.image-cluster-actions a svg {
    width: 2rem;
    height: 2rem;
    color: white;
}

.image-cluster-actions a:hover {
    background-color: var(--background2-color);
}

.image-cluster {
    grid-area: image-cluster;
}

.image-cluster img {
    cursor: pointer !important;
}

.image-cluster img:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Fixes for less width */

.image-cluster {
    width: calc(50% + 3rem) !important;
}

@media screen and (max-width: 1200px) {
    .image-cluster {
        width: calc(3rem + 70%) !important;
    }
}

/* Fix for portfolio data being inputs */

.portfolio-title {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.portfolio-title:focus {
    outline: none;
    border-bottom: 2px solid var(--text-color);
}

.portfolio-subtitle {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 500;
}

.portfolio-subtitle:focus {
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

/* 
Media Manager
*/

.mediamanager {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
    place-content: center;
}

.mediamanager>div {
    background-color: var(--background3-color);
    min-width: 60dvw;
    max-width: 50rem;
    min-height: 60dvh;
    max-height: 80dvh;
    z-index: 1000;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "nav"
        "main";
    padding: 0.5rem;
    overflow: hidden;
}

.mediamanager nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "nav-left nav-center nav-right";
}

.mediamanager .nav-left {
    grid-area: nav-left;
    display: flex;
    justify-content: flex-start;
}

.mediamanager .nav-center {
    grid-area: nav-center;
    display: flex;
    justify-content: center;
}

.mediamanager .nav-right {
    grid-area: nav-right;
    display: flex;
    justify-content: flex-end;
}

.mediamanager nav a,
.mediamanager nav form,
.mediamanager nav form label {
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0.5rem 0.25rem;
}

.mediamanager nav a svg,
.mediamanager nav form svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text-color);
}

.mediamanager nav a:hover svg {
    color: var(--background-color);
    fill: var(--text-color);
    scale: 1.1;
}

.mediamanager main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    height: fit-content;
    max-height: 100%;
    padding-top: 0.5rem;
    overflow: scroll;
}

.mediaManagerImageContainer {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--background-color);
    aspect-ratio: 1;
    position: relative;
}

.mediaManagerImageContainer img {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mediaManagerImageContainer a {
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.25rem;
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1;
}

.lastDownDisabled,
.firstUpDisabled {
    filter: opacity(0.5);
    cursor: not-allowed;
}

.image-info {
    top: 0;
    border-bottom-left-radius: 1rem;
}

.image-delete {
    bottom: 0;
    border-top-left-radius: 1rem;
}

.mediaManagerImageContainer a svg {
    width: 2.5rem;
    height: 2.5rem;
}

/* If media manager is only open for image selection, dont show actions */
.forSelection .image-delete,
.forSelection .image-info {
    display: none;
}

.forSelection img {
    cursor: pointer;
    object-fit: contain;
}

/* 
addCluster overlay
*/
.addCluster {
    /* display: grid; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    place-content: center;
}

.addCluster>div {
    background-color: var(--background-color);
    min-width: 60dvw;
    max-width: 50rem;
    min-height: 60dvh;
    max-height: 80dvh;
    z-index: 1000;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.addCluster>div>div {
    background-color: var(--background3-color);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
}

.addCluster>div>div>div {
    background-color: var(--background2-color);
    border-radius: 0.5rem;
    display: grid;
    width: 90%;
    max-height: 90%;
    font-size: 0.25rem;
}

.addClusterPlaceholderImage {
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.addClusterPlaceholderImage.i1 {
    background-color: #4d8b31;
}

.addClusterPlaceholderImage.i2 {
    background-color: #ffc800;
}

.addClusterPlaceholderImage.i3 {
    background-color: #ff8427;
}

.addClusterPlaceholderImage.i4 {
    background-color: #50a0c0;
}

/* 
Media manager upload animation
Original source (edited): https://codepen.io/CodeArtisT75/pen/QWLQwYL
*/

.upload-spinner {
    display: none;
    place-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5000;
    cursor: not-allowed;
    text-align: center;
    user-select: none;
}

.spinner-square {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 12rem;
    height: 12rem;
}

.spinner-square>.square {
    width: 2rem;
    height: 4rem;
    margin: auto auto;
    border-radius: 2rem;
}

.square-1 {
    animation: square-anim 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
}

.square-2 {
    animation: square-anim 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 333ms infinite;
}

.square-3 {
    animation: square-anim 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 667ms infinite;
}

.square-4 {
    animation: square-anim 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1000ms infinite;
}

@keyframes square-anim {
    0% {
        height: 2rem;
        background-color: rgb(111, 163, 240);
    }

    20% {
        height: 2rem;
    }

    40% {
        height: 8rem;
        background-color: rgb(111, 200, 240);
    }

    80% {
        height: 2rem;
    }

    100% {
        height: 2rem;
        background-color: rgb(111, 163, 240);
    }
}

/* 
Footer
*/

.footer {
    grid-area: footer;
    background-color: var(--background2-color);
}