body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "wysiwyg-editor"
        "footer";
    overflow: hidden;
}

.nav {
    background-color: var(--background2-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* 
Image selection panel
*/

.image-selector {
    grid-area: image-selector;
    background-color: var(--background3-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5em;
    gap: 0px 0px;
    grid-template-areas:
        "images"
        "upload-button";
}

.images {
    grid-area: images;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.upload-button {
    grid-area: upload-button;
}

.upload-button input {
    display: none;
}

.upload-button label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--background2-color);
    color: var(--text-color);
    text-align: center;
    line-height: 3.5em;
    cursor: pointer;
    font-size: 1.5rem;
}

/* 
Wysiwyg editor
*/

.wysiwyg-editor {
    grid-area: wysiwyg-editor;
    overflow-x: scroll;
    background-color: var(--background-color);
}

.footer {
    grid-area: footer;
    background-color: var(--background2-color);
}