body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main"
        "footer";
    overflow: hidden;
}

.nav {
    background-color: var(--background2-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* 
Main
*/

main {
    grid-area: main;
    overflow-x: scroll;
    background-color: var(--background-color);
    padding-top: 4rem;

}

.pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-auto-flow: row;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio {
    background-color: var(--background2-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "portfolio-cover portfolio-cover"
        "portfolio-title portfolio-title"
        "portfolio-subtitle portfolio-subtitle";
    padding: 0.5rem;
    text-decoration: none;
}

.portfolio-cover {
    grid-area: portfolio-cover;
    display: grid;
    place-content: center;
    padding-bottom: 0.5rem;
    aspect-ratio: 16/9;
}

.portfolio-cover img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.portfolio-title {
    grid-area: portfolio-title;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.portfolio-subtitle {
    grid-area: portfolio-subtitle;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.7);
}

/* 
Footer
*/

.footer {
    grid-area: footer;
    background-color: var(--background2-color);
}

/* 
Smaller viewports - Less portfolio columns
*/

@media screen and (max-width: 800px) {
    .pages {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .pages {
        grid-template-columns: 1fr;
    }
}