body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    overflow: hidden;
}

.nav {
    grid-area: nav;
    background-color: var(--background2-color);
}

/* 
Main
*/

main {
    grid-area: main;
    overflow-x: scroll;
    display: grid;
    place-content: center;
    background-color: var(--background-color);
}

main h1 {
    text-align: center;
}

.settings-panel {
    padding: 1rem;
    background-color: var(--background2-color);
    border-radius: 0.5rem;
    min-width: 600px;
    margin-bottom: 1rem;
}

.settings-panel h2 {
    margin-top: 0;
}

.halfed-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.quartered-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

form input {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

form input[type="submit"] {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    border: 0;
    cursor: pointer;
}

.logo-upload {
    width: 100%;
    cursor: pointer;
    background-color: var(--background3-color);
    padding: 1rem;
    text-align: center;
}

input[type="file"] {
    display: none;
}

input[type="file"]:user-valid+label+input[type="submit"] {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 1rem;
    border: 0;
    cursor: pointer;
}

/* 
Footer
*/

.footer {
    grid-area: footer;
    background-color: var(--background2-color);
}